<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org xmlns:xsi=" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="names">Enter name: </label>
  <input type="text" th:field="*{names}" id="names"/>
  <div style="color:red" th:if="${#fields.hasErrors('names')}" th:errors="*{names}">Name error</div>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age">
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email">
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
  <br/>
  <input type="submit" value="Update!">


</form>
</body>
</html>